{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    <table>
      <tr>
        <th>Blog Title</th>
        <th>Date</th>
      </tr>
      {{ range .Paginator.Pages }}
        <tr>
          <td align="center">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          </td>
          <td align="center">
            {{ .Date.Format "January 2, 2006" }}
          </td>
        </tr>
      {{ end }}
    </table>
  </div>
  {{ partial "pagination.html" . }}
{{ end }}